[Unit]
Description=timer to suspend the system automatically over night

[Timer]
OnCalendar=*-*-* 18..23:00/15:00
Persistent=false

[Install]
WantedBy=timers.target
